__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.tmp/
dieta_studencka/staticfiles/
#sdieta_studencka/media/
dieta_studencka/firebase
.env.backend
.env.example
mobileapp/
backups.zip
backups/
SCRYPTY/
webapp/webapp.zip
20260402.zip